In [2]:
import pandas as pd

In [3]:
df_1 = pd.read_csv('action_1_signal_raw.data')

In [26]:
df_1.columns[0]

'Time (seconds)'

In [5]:
df_1_label = pd.read_csv('action_1_labels.label')

In [6]:
df_1_label.head()

   Time(Seconds)  Length(Seconds) Label(string)
0       2.986523         0.401533      action_1
1       4.245780         0.449030      action_1
2       5.575621         0.399287      action_1
3       6.805614         0.376089      action_1
4       7.936644         0.347965      action_1

In [9]:
df_1_label.loc[0][1]

0.401532567297346

In [16]:
df_1_label['Time(Seconds)']

0      2.986523
1      4.245780
2      5.575621
3      6.805614
4      7.936644
5     11.898954
6     13.258043
7     14.503102
8     15.737963
9     17.052243
10    22.214186
11    23.731187
12    25.136320
13    26.963891
14    28.627369
Name: Time(Seconds), dtype: float64

In [25]:
for i, label in enumerate(df_1['Time(Seconds)']):
    print (label)

KeyError: 'Time(Seconds)'

In [11]:
len(df_1_label)

15

In [14]:
df_1_label.columns[0]

'Time(Seconds)'

In [17]:
df_1_label['time_stop'] = df_1_label['Time(Seconds)'] + df_1_label['Length(Seconds)']

In [20]:
ind = [1,3,4]

In [21]:
df_1_label.loc[ind]

   Time(Seconds)  Length(Seconds) Label(string)  time_stop
1       4.245780         0.449030      action_1   4.694811
3       6.805614         0.376089      action_1   7.181703
4       7.936644         0.347965      action_1   8.284609

In [67]:
i = 0
ind_list = []
for ind, time in enumerate(df_1[df_1.columns[0]]):
    for i in range(len(df_1_label)):
        if time > df_1_label['Time(Seconds)'][i] and time < df_1_label['time_stop'][i]:
            ind_list.append(ind)
            break

In [74]:
df_select = df_1.loc[ind_list]

In [75]:
df_select.head()

,Time (seconds),f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16,f17,f18
122,3.003378,74.717529,63.436194,32.653361,49.329411,32.680824,21.965956,25.188193,57.759337,71.441877,47.737011,42.189890,42.280829,41.965806,29.262433,22.824721,36.118647,52.927794,37.595476,50.986607
123,3.027790,43.540929,29.738550,60.152248,86.423508,58.551514,47.662058,69.515486,43.187731,92.246809,480.382735,60.811332,56.516945,96.055099,63.819369,37.274135,42.120415,51.301305,38.496513,17.314948
124,3.052203,27.580944,45.219549,51.000089,46.651211,53.431454,42.952967,94.379547,77.956674,188.323928,1473.808110,131.566893,79.479650,57.877095,56.048072,56.854461,101.607981,62.381996,30.470455,24.622740
125,3.076616,59.878829,129.811301,151.719757,94.605189,87.226177,79.636906,105.119039,151.299098,378.821771,3157.121455,182.388018,111.809458,108.088827,78.122604,95.945163,145.787158,86.665546,81.182774,91.434214
126,3.101029,47.853742,44.513287,63.157367,66.483886,105.303678,149.961453,196.356333,458.512926,2670.078412,6283.909593,380.093993,264.861463,177.718792,74.647161,79.654001,137.224783,73.821477,100.418147,117.333740

In [78]:
df_select['label'] = 'action_1'

In [79]:
df_select.head()

,Time (seconds),f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f10,f11,f12,f13,f14,f15,f16,f17,f18,label
122,3.003378,74.717529,63.436194,32.653361,49.329411,32.680824,21.965956,25.188193,57.759337,71.441877,...,42.189890,42.280829,41.965806,29.262433,22.824721,36.118647,52.927794,37.595476,50.986607,action_1
123,3.027790,43.540929,29.738550,60.152248,86.423508,58.551514,47.662058,69.515486,43.187731,92.246809,...,60.811332,56.516945,96.055099,63.819369,37.274135,42.120415,51.301305,38.496513,17.314948,action_1
124,3.052203,27.580944,45.219549,51.000089,46.651211,53.431454,42.952967,94.379547,77.956674,188.323928,...,131.566893,79.479650,57.877095,56.048072,56.854461,101.607981,62.381996,30.470455,24.622740,action_1
125,3.076616,59.878829,129.811301,151.719757,94.605189,87.226177,79.636906,105.119039,151.299098,378.821771,...,182.388018,111.809458,108.088827,78.122604,95.945163,145.787158,86.665546,81.182774,91.434214,action_1
126,3.101029,47.853742,44.513287,63.157367,66.483886,105.303678,149.961453,196.356333,458.512926,2670.078412,...,380.093993,264.861463,177.718792,74.647161,79.654001,137.224783,73.821477,100.418147,117.333740,action_1

In [68]:
df_1[df_1.columns[0]][122]

3.003377535981308

In [42]:
filtered_my_list = [list(filter(lambda time : (time > df_1_label['Time(Seconds)'][i] and time < df_1_label['time_stop'][i]), df_1[df_1.columns[0]] )) for i in range(len(df_1_label))]

In [35]:
import numpy as np

In [55]:
filtered_my_list_con = np.concatenate(filtered_my_list).tolist()

In [59]:
type(filtered_my_list_con)

list

In [39]:
np.shape(filtered_my_list_con)

(227,)

In [52]:
df_1_set_ind = df_1.set_index('Time (seconds)').head()

In [57]:
df_1_set_ind.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16,f17,f18
Time (seconds),,,,,,,,,,,,,,,,,,,
0.025001,30.360140,17.579988,14.685777,28.573122,19.925848,20.429080,17.538163,30.388634,26.300705,17.172462,34.153248,14.352835,16.560422,11.238660,22.413350,29.991935,29.765759,10.876992,26.017893
0.049414,32.726293,25.167735,21.755236,27.477649,31.815267,17.886791,18.497347,18.188835,22.802926,11.344318,14.911160,20.136188,24.356528,25.025817,19.433817,44.720029,60.385098,23.847597,18.236608
0.073827,21.150129,18.172881,24.757900,24.835175,12.348626,29.714076,22.428855,17.293190,29.111770,21.814129,32.467723,15.393568,8.747901,11.876204,21.231381,17.276851,20.868706,13.251215,21.493155
0.098240,19.170769,13.792303,28.695106,35.705161,28.165860,29.755727,12.227759,28.826367,48.557443,46.120048,19.728644,28.615416,21.600037,12.880092,24.171701,28.325422,40.029688,41.862798,18.395882
0.122652,29.377692,27.293459,28.294527,32.612133,18.614161,19.892370,25.341696,20.668108,20.345545,21.952440,52.181182,39.709507,35.294859,22.031326,13.731116,26.086913,26.881990,17.811212,31.782183

In [66]:
df_1_set_ind.loc[filtered_my_list_con[1]]

KeyError: 3.027790460046728